<div class="row m-3">
  <div class="col-12 d-flex justify-content-end">
      
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header class="row">
        <span class="col-12 col-md-10">Company List</span>
        <button class="col-12 col-md-2 px-3" nbButton status="primary" (click)="displayDetails('Add')">Add Company</button>
      </nb-card-header>
      <nb-card-body>
        <company-list></company-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
